.app {
  background-color: antiquewhite;
}

.appHeader {
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.usersList {
  display: flex;
  flex-direction: column;
}

.userCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background-color: bisque;
  border-color: antiquewhite;
  height: 70px;
  width: 70px;
}